<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
	</head>
	<body>
		<h1>Deck</h1>
		<table>
			<thead>
				<tr>
					<th>Suit</th>
					<th>Rank</th>
				</tr>
			</thead>
			<tbody>
				{{#game.cardDeck.getDeck}}
				<tr>
					<td>{{ suit }}</td>
					<td>{{ rank }} </td>
					<td>{{ value }}</td>
				</tr>
				{{/game.cardDeck.getDeck}}

			</tbody>
		</table>
		<h1>Player Hand</h1>
		<table>
			<thead>
				<tr>
					<th>Suit</th>
					<th>Rank</th>
				</tr>
			</thead>
			<tbody>
				{{#game.player.getHand}}
				<tr>
					<td>{{ suit }}</td>
					<td>{{ rank }} </td>
					<td>{{ value }}</td>
				</tr>
				{{/game.player.getHand}}

			</tbody>
		</table>
		<h2>Player hand value: {{game.player.handValue}}</h2>
		<form method="post" action="/hit">
			<button>Hit</button>
		</form>
		{{ game.cardsInDeck }}
		
	
	</body>
</html>